// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

h1 {
  color: red !important;
}

.nav-fstyle {
  font-size: 14px;
  letter-spacing: 2px;
}

// Default variable overrides

$primary: #262b48;
$secondary: #5266df;
$danger: #fb5859;

// Custom styles

@media (max-width: 991px) {
  .navbar-sidebar {
    background-color: rgba(38, 43, 72, 0.95) !important;
    backdrop-filter: blur(1px);
  }
  .navbar-sidebar-body {
    li {
      border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    a {
      color: white;
    }
  }
  .nav-fstyle {
    font-size: 16px;
    letter-spacing: 4px;
  }
  .navbar-sidebar-btn {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

$border-color: rgba(255, 255, 255, 0.25);

@import '../../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here
